@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.PhoneInputInput {
  border: none;
  outline: none;
  box-shadow: none;
}
